<a href="https://colab.research.google.com/github/Redsoxnc87/Hello-World/blob/master/Business_Services.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import math 
import requests

In [2]:
import pandas.plotting
import matplotlib.pyplot as plt
import operator

In [3]:
biz = pd.read_csv('Biz_Services_Stocks.csv')

In [4]:
biz.describe()

             Last  14D Rel Str  50D Rel Str  ...        PEG    52W High     52W Low
count  224.000000   223.000000   221.000000  ...  61.000000  224.000000  224.000000
mean    38.417813     0.524215     0.513258  ...   4.933115   50.350223   22.471518
std     59.338129     0.083056     0.048348  ...   7.923781   66.381805   35.205671
min      0.500000     0.330000     0.390000  ...   0.520000    1.370000    0.090000
25%      2.930000     0.470000     0.480000  ...   1.840000    8.385000    1.417500
50%     14.855000     0.520000     0.510000  ...   3.000000   25.090000    8.610000
75%     47.230000     0.570000     0.540000  ...   4.130000   70.827500   27.045000
max    349.970000     0.780000     0.650000  ...  55.830000  359.500000  199.990000

[8 rows x 13 columns]

In [6]:
rsi_diff = operator.sub(biz['14D Rel Str'],biz['50D Rel Str'])

In [7]:
float_diff = operator.truediv(biz['Float'],biz['Shares Out'])

In [8]:
cum_ret = operator.add(biz['1Y Return'],biz['3Y Return'])

In [9]:
cum_rets = operator.add(cum_ret,biz['5Y Return'])

In [10]:
diff_52 = operator.sub(biz['52W High'],biz['52W Low'])

In [12]:
biz['RSI_Diff']=(rsi_diff)

In [13]:
biz['Float_Diff']=(float_diff)

In [14]:
biz['Cummulative_Ret']=(cum_rets)

In [15]:
biz['Diff_52']=(diff_52)

In [19]:
oversold = biz.loc[(biz['14D Rel Str'])<.55]
overbought = biz.loc[(biz['14D Rel Str'])>.70]

In [20]:
biz.describe()

             Last  14D Rel Str  ...  Cummulative_Ret     Diff_52
count  224.000000   223.000000  ...       224.000000  224.000000
mean    38.417813     0.524215  ...         0.321295   27.878705
std     59.338129     0.083056  ...         3.233282   34.770689
min      0.500000     0.330000  ...        -2.920000    0.770000
25%      2.930000     0.470000  ...        -1.022500    5.815000
50%     14.855000     0.520000  ...        -0.255000   15.295000
75%     47.230000     0.570000  ...         0.937500   35.640000
max    349.970000     0.780000  ...        37.040000  190.490000

[8 rows x 17 columns]

In [21]:
len(oversold)

141

In [22]:
oversold.describe()

             Last  14D Rel Str  ...  Cummulative_Ret     Diff_52
count  141.000000   141.000000  ...       141.000000  141.000000
mean    30.374255     0.474752  ...         0.213050   24.953546
std     49.671395     0.048544  ...         3.855565   32.538511
min      0.500000     0.330000  ...        -2.920000    0.770000
25%      2.300000     0.440000  ...        -1.140000    5.330000
50%     11.010000     0.480000  ...        -0.490000   13.830000
75%     37.140000     0.510000  ...         0.540000   30.340000
max    306.920000     0.540000  ...        37.040000  173.870000

[8 rows x 17 columns]

In [23]:
osold_ret = oversold.loc[(oversold['Cummulative_Ret'])>0.25]

In [24]:
len(osold_ret)

40

In [25]:
osold_ret.to_csv('Biz_Services_Oversold_Returns.csv', index=False)