<a href="https://colab.research.google.com/github/Redsoxnc87/Hello-World/blob/master/Cbase_Acct_Breakdown.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [30]:
import pandas as pd 
import numpy as np 
import math

In [31]:
import pandas.plotting
import operator
import os 
import sys 
import requests
import matplotlib.pyplot as plt
%matplotlib inline

In [32]:
cbase = pd.read_csv('Coinbase_Alltime_Acct_Activity.csv')

In [33]:
cbase.head()

              Timestamp  ...                                              Notes
0  2018-01-09T16:11:08Z  ...                  Bought 0.0100 BTC for $151.11 USD
1  2018-01-10T07:02:24Z  ...                    Bought 0.0007 BTC for $9.99 USD
2  2018-01-11T04:16:24Z  ...                  Bought 0.0100 BTC for $135.66 USD
3  2018-01-16T18:41:05Z  ...  Sent 0.00992852 BTC to 12MDHLAiPFB7MhdJXb6egRZ...
4  2018-01-17T05:51:29Z  ...              Bought 0.01762066 BTC for $200.00 USD

[5 rows x 9 columns]

In [34]:
QU = operator.mul(cbase['Quantity Transacted'],cbase['USD Spot Price at Transaction'])
cbase['Total_USD']=(QU)

In [35]:
type(cbase['Quantity Transacted'][2])

numpy.float64

In [36]:
buy = cbase.loc[(cbase['Transaction Type'])=='Buy']
send = cbase.loc[(cbase['Transaction Type'])=='Send']
receive = cbase.loc[(cbase['Transaction Type'])=='Send']
sell = cbase.loc[(cbase['Transaction Type'])=='Sell']
convert = cbase.loc[(cbase['Transaction Type'])=='Convert']

In [37]:
len(buy)

59

In [38]:
len(sell)

2

In [39]:
len(convert)

51

In [40]:
len(receive)

130

In [41]:
len(send)

130

In [42]:
buy.tail()

                Timestamp  ...   Total_USD
256  2018-02-22T16:09:36Z  ...  197.580000
257  2018-02-23T03:47:39Z  ...   94.220000
261  2018-03-09T01:48:30Z  ...  147.008003
289  2020-05-10T02:07:27Z  ...  258.000000
321  2020-07-29T02:26:29Z  ...  116.994988

[5 rows x 10 columns]

In [43]:
buy['Quantity Transacted'].sum()

311.74107963

In [44]:
buy_BTC = buy.loc[(buy['Asset'])=='BTC']
buy_ETH = buy.loc[(buy['Asset'])=='ETH']
buy_LTC = buy.loc[(buy['Asset'])=='LTC']

In [45]:
len(buy_BTC),len(buy_ETH),len(buy_LTC)

(28, 15, 12)

In [46]:
buy_BTC.head()

              Timestamp  ...   Total_USD
0  2018-01-09T16:11:08Z  ...  148.120000
1  2018-01-10T07:02:24Z  ...    9.992885
2  2018-01-11T04:16:24Z  ...  132.670000
4  2018-01-17T05:51:29Z  ...  197.010080
7  2018-01-22T23:09:07Z  ...  153.860040

[5 rows x 10 columns]

In [47]:
buy_BTC.tail()

               Timestamp  ...   Total_USD
68  2020-01-21T23:57:29Z  ...  213.809971
69  2020-02-05T11:05:42Z  ...   77.009968
72  2020-03-09T15:19:53Z  ...   97.010009
77  2020-05-10T08:01:43Z  ...  177.010063
79  2020-07-21T21:53:52Z  ...  147.010007

[5 rows x 10 columns]

In [48]:
BTC_bought = buy_BTC['USD Subtotal'].sum()

In [49]:
ETH_bought =buy_ETH['USD Subtotal'].sum()

In [50]:
LTC_bought =buy_LTC['USD Subtotal'].sum()

In [51]:
BTC_bought+ETH_bought+LTC_bought

8063.42

In [52]:
cbase.Total_USD.sum()

55854.840838615404

In [53]:
cbase.to_csv('Alltime_Cbase_Transations_USD.csv', index=False)

In [54]:
import datetime

In [55]:
from datetime import datetime

In [57]:
now = datetime.now()

In [58]:
now

datetime.datetime(2020, 12, 10, 20, 58, 23, 428465)

In [59]:
timestamp = datetime.timestamp(now)

In [60]:
timestamp

1607633903.428465