<a href="https://colab.research.google.com/github/Redsoxnc87/Hello-World/blob/master/Complete_StkMarket_Review.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd 
import numpy as np 
import math 
import requests

In [2]:
import operator
import pandas.plotting
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
import seaborn as sns 
from pandas import Series, DataFrame
from numpy import random, array

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [4]:
!pip install pyxll

Collecting pyxll
  Downloading https://files.pythonhosted.org/packages/31/27/d18bbaa42baf9aef30aae913cbdc227434050a43093b4ab7546240b1fcc1/pyxll-4.6.1-cp36-none-any.whl (64kB)
     |████████████████████████████████| 71kB 1.8MB/s
Installing collected packages: pyxll
Successfully installed pyxll-4.6.1

In [5]:
import pyxll

In [6]:
from pyxll import xl_func

In [7]:
bchart = pd.read_csv('Bcharts_Total_Market.csv')

In [8]:
tview = pd.read_csv('Tview_Total_Market.csv')

In [9]:
bchart.describe()

                Last
count    4755.000000
mean      107.591474
std      4566.712954
min         0.090000
25%         5.110000
50%        14.570000
75%        39.520000
max    314840.000000

In [10]:
Blist = list(range(0,4755))

In [11]:
tview.describe()

                Last     Change %  ...  Basic EPS (TTM)  Number of Employees
count    4344.000000  4302.000000  ...      4112.000000         3.969000e+03
mean      114.772964    -6.037642  ...         0.250260         1.144673e+04
std      4777.815886    21.933184  ...       296.455202         5.169723e+04
min         0.085800   -83.791000  ...    -13176.996000         0.000000e+00
25%         5.650000   -13.056000  ...        -1.138000         1.630000e+02
50%        14.610000    -7.031000  ...         0.030000         1.111000e+03
75%        40.102500    -0.782250  ...         1.781750         6.100000e+03
max    314840.000000  1117.391000  ...     13689.000000         2.200000e+06

[8 rows x 8 columns]

In [12]:
Tlist = list(range(0,4344))

In [13]:
bchart.head()

  Symbol  ...                           SIC Description
0      A  ...                                       NaN
1     AA  ...  SIC-3334 Primary Production of Aluminium
2   AACG  ...    SIC-8200 Services-Educational Services
3    AAL  ...                                       NaN
4   AAME  ...                   SIC-6311 Life Insurance

[5 rows x 7 columns]

In [14]:
tview.head()

  Ticker   Last  ...  Number of Employees               Sector
0      A  96.91  ...              16300.0    Health Technology
1     AA  11.64  ...              13800.0  Non-Energy Minerals
2   AACQ   9.95  ...                  NaN              Finance
3    AAL  11.93  ...             133700.0       Transportation
4   AAMC  20.65  ...                109.0              Finance

[5 rows x 11 columns]

In [15]:
bchart.Sector.value_counts()

Medical                     980
Finance                     973
Computers and Technology    666
Oils-Energy                 289
Consumer Discretionary      256
Basic Materials             245
Business Services           245
Retail-Wholesale            212
Consumer Staples            194
Industrial Products         193
Transportation              144
Utilities                   120
Construction                107
Auto-Tires-Trucks            73
Aerospace                    40
Conglomerates                18
Name: Sector, dtype: int64

In [16]:
tview.Sector.value_counts()

Finance                   912
Health Technology         781
Technology Services       354
Electronic Technology     301
Producer Manufacturing    254
Consumer Services         219
Commercial Services       184
Process Industries        158
Industrial Services       141
Retail Trade              137
Consumer Non-Durables     133
Energy Minerals           122
Non-Energy Minerals       122
Consumer Durables         114
Transportation            109
Utilities                  93
Distribution Services      75
Health Services            74
Communications             37
Miscellaneous              22
Name: Sector, dtype: int64

In [25]:
Symbols = bchart.Symbol.to_list()

In [26]:
len(Symbols)

4756

In [27]:
Tickers = tview.Ticker.to_list()

In [28]:
len(Tickers)

4344

In [31]:
Finance_Tview = tview.loc[(tview['Sector'])=='Finance']

In [32]:
len(Finance_Tview)

912

In [34]:
Financial_Employees = Finance_Tview['Number of Employees'].sum()

In [35]:
Health_Tech_Tview = tview.loc[(tview['Sector'])=='Health Technology']

In [36]:
len(Health_Tech_Tview)

781

In [37]:
HealthTech_Employee = Health_Tech_Tview['Number of Employees'].sum()

In [38]:
HealthTech_Employee

1586706.5

In [39]:
Tech_Services_Tview = tview.loc[(tview['Sector'])=='Technology Services']

In [40]:
len(Tech_Services_Tview)

354

In [41]:
TechServices_Employees = Tech_Services_Tview['Number of Employees'].sum()

In [42]:
TechServices_Employees

3486027.0

In [43]:
ElectronicTechnology_Tview = tview.loc[(tview['Sector'])=='Electronic Technology']

In [44]:
len(ElectronicTechnology_Tview)

301

In [45]:
ElectronicTech_Employees = ElectronicTechnology_Tview['Number of Employees'].sum()

In [48]:
ProducerMFG_Tview = tview.loc[(tview['Sector'])=='Producer Manufacturing']

In [49]:
len(ProducerMFG_Tview)

254

In [50]:
ProducerMFG_Employees = ProducerMFG_Tview['Number of Employees'].sum()

In [51]:
ConsumerServices_Tview = tview.loc[(tview['Sector'])=='Consumer Services']

In [52]:
len(ConsumerServices_Tview)

219

In [53]:
ConServices_Employees = ConsumerServices_Tview['Number of Employees'].sum()