<a href="https://colab.research.google.com/github/Redsoxnc87/Hello-World/blob/master/Conglomerates.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import math 
import requests

In [2]:
import matplotlib.pyplot as plt
import pandas.plotting 
import operator
import scipy

In [3]:
import scipy.stats

In [4]:
congo = pd.read_csv('Conglomerates_Screen.csv')

In [5]:
congo.describe()

             Last  14D Rel Str  50D Rel Str  ...       PEG    52W High     52W Low
count   18.000000    18.000000     18.00000  ...  7.000000   18.000000   18.000000
mean    56.625556     0.523333      0.50000  ...  2.638571   72.713889   38.238889
std     60.656716     0.069536      0.04116  ...  1.042168   68.767389   42.052890
min      1.120000     0.430000      0.44000  ...  1.330000    4.330000    1.000000
25%      9.545000     0.480000      0.48000  ...  1.720000   16.875000    5.420000
50%     29.965000     0.520000      0.49000  ...  3.000000   41.965000   19.665000
75%     77.605000     0.557500      0.51750  ...  3.410000   95.810000   59.142500
max    195.270000     0.700000      0.62000  ...  3.880000  203.000000  119.600000

[8 rows x 13 columns]

In [6]:
float_prct = operator.truediv(congo['Float'], congo['Shares Out'])

In [7]:
cum_ret = operator.add(congo['1Y Return'],congo['3Y Return'])

In [8]:
cum_rets = operator.add(cum_ret,congo['5Y Return'])

In [9]:
rsi_diff = operator.sub(congo['14D Rel Str'],congo['50D Rel Str'])

In [10]:
diff_52 = operator.sub(congo['52W High'],congo['52W Low'])

In [11]:
congo['Float_Prct']=(float_prct)
congo['Cummulative_Returns']=(cum_rets)

In [12]:
congo['RSI_Diff']=(rsi_diff)
congo['Diff_52']=(diff_52)

In [13]:
congo.describe()

             Last  14D Rel Str  ...   RSI_Diff    Diff_52
count   18.000000    18.000000  ...  18.000000  18.000000
mean    56.625556     0.523333  ...   0.023333  34.475000
std     60.656716     0.069536  ...   0.042840  27.957702
min      1.120000     0.430000  ...  -0.060000   3.040000
25%      9.545000     0.480000  ...   0.010000  10.375000
50%     29.965000     0.520000  ...   0.035000  26.750000
75%     77.605000     0.557500  ...   0.057500  50.920000
max    195.270000     0.700000  ...   0.080000  83.400000

[8 rows x 17 columns]

In [17]:
oversold = congo.loc[(congo['14D Rel Str'])<.55]

In [18]:
overbought = congo.loc[(congo['14D Rel Str'])>.70]

In [19]:
len(oversold)

12

In [20]:
osold_ret = oversold.loc[(oversold['Cummulative_Returns'])>0]

In [21]:
len(osold_ret)

3

In [22]:
osold_ret

  Symbol                         Name  ...  RSI_Diff  Diff_52
1    CSL       Carlisle Companies Inc  ...      0.04    72.31
3    FSS          Federal Signal Corp  ...      0.01    12.43
7    HON  Honeywell International Inc  ...      0.02    82.98

[3 rows x 19 columns]

In [23]:
osold_ret.to_csv('Congolmerates_Oversold_Returns.csv', index=False)