<a href="https://colab.research.google.com/github/Redsoxnc87/Hello-World/blob/master/Hedgefund_Hldg.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd 
import numpy as np 
import os 
import sys 
import requests 
import math

In [4]:
import pandas.plotting
import operator
import bs4 
from bs4 import BeautifulSoup
import xml
import json

In [5]:
Bwater_1 = pd.read_csv('Last_Bwater_13F.csv')
Bwater_2 = pd.read_csv('Prior_Bwater_13F.csv')
Bwater_3 = pd.read_csv('lastyr_Bwater_13F.csv')

In [6]:
AQR_1 = pd.read_csv('aqr_recent_13f.csv')
AQR_2 = pd.read_csv('aqr_prior_13f.csv')
AQR_3 = pd.read_csv('aqr_lastyr_13f.csv')

In [7]:
Ren_1 = pd.read_csv('renaissance_recent_13f.csv')
Ren_2 = pd.read_csv('renaissance_prior_13f.csv')
Ren_3 = pd.read_csv('renaissance_lastyr.13f.csv')

In [8]:
Bwater_1.describe()

       Values (x$1000)        Shares          SOLE
count     3.330000e+02  3.330000e+02  3.330000e+02
mean      3.418070e+04  6.286016e+05  6.121297e+05
std       1.624900e+05  2.744030e+06  2.665917e+06
min       3.400000e+01  5.690000e+02  5.690000e+02
25%       6.050000e+02  1.144700e+04  1.144700e+04
50%       3.366000e+03  5.907200e+04  5.907200e+04
75%       1.303100e+04  2.240130e+05  2.240130e+05
max       2.088806e+06  3.738007e+07  3.664067e+07

In [9]:
Bwater_1.head()

           NAME OF ISSUER  TITLE OF CLASS      CUSIP  ...  PRN  DISCRETION    SOLE
0                   3M CO             COM  88579Y101  ...   SH        SOLE   27853
1               51JOB INC   SPONSORED ADS  316827104  ...   SH        SOLE   15747
2              58 COM INC  SPON ADR REP A  31680Q104  ...   SH        SOLE    6133
3                AES CORP             COM  00130H105  ...   SH        SOLE   11856
4  AGNICO EAGLE MINES LTD             COM    8474108  ...   SH        SOLE  112870

[5 rows x 8 columns]

In [10]:
Bwater_2.head()

            NAME OF ISSUER  TITLE OF CLASS      CUSIP  ...  PRN  DISCRETION   SOLE
0         3-D SYS CORP DEL         COM NEW  88554D205  ...   SH        SOLE  27211
1                51JOB INC   SPONSORED ADS  316827104  ...   SH        SOLE  15200
2               58 COM INC  SPON ADR REP A  31680Q104  ...   SH        SOLE   8456
3  ACTIVISION BLIZZARD INC             COM  00507V109  ...   SH        SOLE  41092
4        ACUITY BRANDS INC             COM  00508Y102  ...   SH        SOLE   9154

[5 rows x 8 columns]

In [11]:
fortress = pd.read_html('https://www.sec.gov/Archives/edgar/data/1380393/000108514620001570/xslForm13F_X01/form13fInfoTable.xml')

In [12]:
fortress_last = pd.DataFrame(fortress[3])

In [13]:
fortress_2 = pd.read_html('https://www.sec.gov/Archives/edgar/data/1380393/000108514620000779/xslForm13F_X01/form13fInfoTable.xml')

In [14]:
fortress_prior = pd.DataFrame(fortress_2[3])

In [15]:
fortress_3 = pd.read_html('https://www.sec.gov/Archives/edgar/data/1380393/000108514619002995/xslForm13F_X01/form13fInfoTable.xml')

In [16]:
fortress_lastyr = pd.DataFrame(fortress_3[3])

In [17]:
fortress_last.to_csv('fortress_recent_13f.csv', index=False)
fortress_prior.to_csv('fortress_prior_13f.csv', index=False)
fortress_lastyr.to_csv('fortress_lastyr_13f', index=False)

In [18]:
B =operator.mul(Bwater_1['Values (x$1000)'], 1000)

In [19]:
Bwater_1['Tot_Value']=(B)

In [20]:
BW = operator.mul(Bwater_2['Values (x$1000)'], 1000)

In [21]:
Bwater_2['Tot_Value']=(BW)

In [22]:
BWW = operator.mul(Bwater_3['Shares (x$1000)'], 1000)

In [23]:
Bwater_3['Tot_Value']=(BWW)

In [24]:
Bwater_1.describe()

       Values (x$1000)        Shares          SOLE     Tot_Value
count     3.330000e+02  3.330000e+02  3.330000e+02  3.330000e+02
mean      3.418070e+04  6.286016e+05  6.121297e+05  3.418070e+07
std       1.624900e+05  2.744030e+06  2.665917e+06  1.624900e+08
min       3.400000e+01  5.690000e+02  5.690000e+02  3.400000e+04
25%       6.050000e+02  1.144700e+04  1.144700e+04  6.050000e+05
50%       3.366000e+03  5.907200e+04  5.907200e+04  3.366000e+06
75%       1.303100e+04  2.240130e+05  2.240130e+05  1.303100e+07
max       2.088806e+06  3.738007e+07  3.664067e+07  2.088806e+09

In [26]:
Bwater_1_LG = Bwater_1.loc[(Bwater_1['Tot_Value'])>40000000]

In [27]:
len(Bwater_1_LG)

28

In [28]:
Bwater_2.describe()

       Values (x$1000)        Shares          SOLE     Tot_Value
count     4.710000e+02  4.710000e+02  4.710000e+02  4.710000e+02
mean      2.079445e+04  2.903188e+05  2.796462e+05  2.079445e+07
std       1.295618e+05  1.518812e+06  1.450701e+06  1.295618e+08
min       1.490000e+02  5.800000e+02  5.800000e+02  1.490000e+05
25%       7.880000e+02  1.297750e+04  1.297750e+04  7.880000e+05
50%       1.700000e+03  3.200300e+04  3.200300e+04  1.700000e+06
75%       4.307000e+03  8.798050e+04  8.798050e+04  4.307000e+06
max       2.249694e+06  2.475765e+07  2.401608e+07  2.249694e+09

In [29]:
Bwater_2_LG = Bwater_2.loc[(Bwater_2['Tot_Value'])>30000000]

In [30]:
len(Bwater_2_LG)

29

In [31]:
Bwater_3.describe()

       Shares (x$1000)       Shares           SOLE     Tot_Value
count     3.330000e+02  3.330000e+02  3.330000e+02  3.330000e+02
mean      3.418070e+04  6.286016e+05  6.121297e+05  3.418070e+07
std       1.624900e+05  2.744030e+06  2.665917e+06  1.624900e+08
min       3.400000e+01  5.690000e+02  5.690000e+02  3.400000e+04
25%       6.050000e+02  1.144700e+04  1.144700e+04  6.050000e+05
50%       3.366000e+03  5.907200e+04  5.907200e+04  3.366000e+06
75%       1.303100e+04  2.240130e+05  2.240130e+05  1.303100e+07
max       2.088806e+06  3.738007e+07  3.664067e+07  2.088806e+09

In [32]:
Bwater_3_LG = Bwater_3.loc[(Bwater_3['Tot_Value'])>40000000]

In [33]:
len(Bwater_3_LG)

28

In [37]:
Bwater_1_LG.to_csv('Bwater_Current_LGholdings.csv', index=False)

In [38]:
Bwater_2_LG.to_csv('Bwater_Prior_LGholdings.csv', index=False)

In [39]:
Bwater_3_LG.to_csv('Bwater_Lastyr_LGholdings.csv', index=False)

In [40]:
A = operator.mul(AQR_1['Values (x$1000)'], 1000)

In [41]:
AQ = operator.mul(AQR_2['Values (x$1000)'], 1000)

In [42]:
AQR = operator.mul(AQR_3['Values (x$1000)'], 1000)

In [43]:
AQR_1['Tot_Value']=(A)

In [44]:
AQR_2['Tot_Value']=(AQ)

In [45]:
AQR_3['Tot_Value']=(AQR)

In [46]:
AQR_1.describe()

       Values (x$1000)        Shares          SOLE     Tot_Value
count       563.000000  5.630000e+02  5.630000e+02  5.630000e+02
mean       5310.721137  2.083133e+06  2.083133e+06  5.310721e+06
std       10827.625920  4.683487e+06  4.683487e+06  1.082763e+07
min           6.000000  2.360000e+02  2.360000e+02  6.000000e+03
25%         245.500000  4.503950e+04  4.503950e+04  2.455000e+05
50%         918.000000  2.750000e+05  2.750000e+05  9.180000e+05
75%        5583.000000  1.188615e+06  1.188615e+06  5.583000e+06
max       78616.000000  4.047000e+07  4.047000e+07  7.861600e+07

In [47]:
AQR_2.describe()

       Values (x$1000)        Shares          SOLE     Tot_Value
count       459.000000  4.590000e+02  4.590000e+02  4.590000e+02
mean      12903.437908  4.061650e+06  4.061650e+06  1.290344e+07
std       28134.280525  9.304008e+06  9.304008e+06  2.813428e+07
min           4.000000  1.949000e+03  1.949000e+03  4.000000e+03
25%         532.500000  1.158330e+05  1.158330e+05  5.325000e+05
50%        3478.000000  5.000000e+05  5.000000e+05  3.478000e+06
75%       11251.500000  2.125000e+06  2.125000e+06  1.125150e+07
max      226081.000000  9.380000e+07  9.380000e+07  2.260810e+08

In [48]:
AQR_3.describe()

       Values (x$1000)       Shares           SOLE     Tot_Value
count       449.000000  4.490000e+02  4.490000e+02  4.490000e+02
mean      15219.997773  4.673814e+06  4.673814e+06  1.522000e+07
std       40714.227173  1.081480e+07  1.081480e+07  4.071423e+07
min          10.000000  1.833000e+03  1.833000e+03  1.000000e+04
25%         500.000000  6.988800e+04  6.988800e+04  5.000000e+05
50%        3057.000000  5.200000e+05  5.200000e+05  3.057000e+06
75%       13686.000000  2.097920e+06  2.097920e+06  1.368600e+07
max      578475.000000  9.380000e+07  9.380000e+07  5.784750e+08

In [53]:
AQR_1_LG = AQR_1.loc[(AQR_1['Tot_Value'])>30000000]

In [54]:
len(AQR_1_LG)

26

In [59]:
AQR_2_LG = AQR_2.loc[(AQR_2['Tot_Value'])>45000000]

In [60]:
len(AQR_2_LG)

32

In [61]:
AQR_3_LG = AQR_3.loc[(AQR_3['Tot_Value'])>45000000]

In [62]:
len(AQR_3_LG)

34

In [66]:
AQR_1_LG.to_csv('AQR_Recent_LGholdings.csv', index=False)

In [67]:
AQR_2_LG.to_csv('AQR_Prior_LGholdings.csv', index=False)

In [68]:
AQR_3_LG.to_csv('AQR_Lastyr_LGholdings.csv', index=False)

In [69]:
R = operator.mul(Ren_1['Value(x$1000)'], 1000)

In [70]:
E = operator.mul(Ren_2['Value (x$1000)'], 1000)

In [72]:
N = operator.mul(Ren_3['Values (x$1000)'], 1000)

In [73]:
Ren_1['Tot_Value']=(R)
Ren_2['Tot_Value']=(E)

In [74]:
Ren_3['Tot_Value']=(N)

In [75]:
Ren_1.describe()

       Value(x$1000)        Shares          SOLE     Tot_Value
count   3.401000e+03  3.401000e+03  3.401000e+03  3.401000e+03
mean    3.027407e+04  1.266374e+06  1.177818e+06  3.027407e+07
std     1.181986e+05  3.825603e+06  3.682575e+06  1.181986e+08
min     3.000000e+00  7.800000e+01  0.000000e+00  3.000000e+03
25%     7.690000e+02  8.965200e+04  5.318100e+04  7.690000e+05
50%     3.916000e+03  3.448950e+05  2.855450e+05  3.916000e+06
75%     1.732900e+04  1.049625e+06  9.566340e+05  1.732900e+07
max     3.678400e+06  7.834230e+07  7.834230e+07  3.678400e+09

In [76]:
Ren_2.describe()

       Value (x$1000)        Shares          SOLE          NONE     Tot_Value
count    3.469000e+03  3.469000e+03  3.469000e+03  3.469000e+03  3.469000e+03
mean     3.751248e+04  1.235681e+06  1.122449e+06  1.132326e+05  3.751248e+07
std      1.279684e+05  3.725802e+06  3.575717e+06  3.802570e+05  1.279684e+08
min      6.000000e+00  3.000000e+00  0.000000e+00  0.000000e+00  6.000000e+03
25%      1.060000e+03  8.480000e+04  4.718500e+04  0.000000e+00  1.060000e+06
50%      6.110000e+03  3.241760e+05  2.529950e+05  1.596700e+04  6.110000e+06
75%      2.569500e+04  1.042638e+06  9.235930e+05  8.055000e+04  2.569500e+07
max      3.864922e+06  9.005396e+07  9.005396e+07  9.828985e+06  3.864922e+09

In [77]:
Ren_3.describe()

       Values (x$1000)        Shares  CALL  ...  SHARED          NONE     Tot_Value
count     3.394000e+03  3.394000e+03   0.0  ...  3394.0  3.394000e+03  3.394000e+03
mean      3.480987e+04  1.188407e+06   NaN  ...     0.0  1.248132e+05  3.480987e+07
std       1.035533e+05  3.304608e+06   NaN  ...     0.0  4.409624e+05  1.035533e+08
min       7.000000e+00  9.100000e+01   NaN  ...     0.0  0.000000e+00  7.000000e+03
25%       1.139250e+03  8.601325e+04   NaN  ...     0.0  0.000000e+00  1.139250e+06
50%       5.904000e+03  3.379110e+05   NaN  ...     0.0  1.325950e+04  5.904000e+06
75%       2.502475e+04  1.077502e+06   NaN  ...     0.0  8.810875e+04  2.502475e+07
max       1.661147e+06  8.436094e+07   NaN  ...     0.0  1.219277e+07  1.661147e+09

[8 rows x 8 columns]

In [80]:
Ren_1_LG = Ren_1.loc[(Ren_1['Tot_Value'])>500000000]

In [81]:
len(Ren_1_LG)

30

In [82]:
Ren_2_LG = Ren_2.loc[(Ren_2['Tot_Value'])>500000000]

In [83]:
len(Ren_2_LG)

39

In [84]:
Ren_3_LG = Ren_3.loc[(Ren_3['Tot_Value'])>500000000]

In [85]:
len(Ren_3_LG)

33

In [89]:
Ren_1_LG.to_csv('Renissance_Rencent_LGholdings.csv', index=False)

In [90]:
Ren_2_LG.to_csv('Renissance_Prior_LGholdings.csv', index=False)

In [91]:
Ren_3_LG.to_csv('Renissance_lastyr_LGholdings.csv', index=False)

In [98]:
tot_ren_1 = Ren_1.Tot_Value.sum()

In [99]:
tot_bwater_1 = Bwater_1.Tot_Value.sum()

In [100]:
tot_aqr_1 = AQR_1.Tot_Value.sum()

In [102]:
tot_ren_1

102962101000