<a href="https://colab.research.google.com/github/Redsoxnc87/Hello-World/blob/master/Spread_and_Projections.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd 
import numpy as np 
import math 
import os 
import sys

In [2]:
import operator
import pandas.plotting
import pandas_datareader as pdr 
import matplotlib.pyplot as plt
import requests

In [3]:
import seaborn as sns 
import scipy
import tensorflow as tf 
import keras

In [4]:
sprd = pd.read_csv('lPE_Hspread.csv')

In [5]:
sprd.head()

  Symbol                        Name  ...      Sales(a) Spread
0   ABBV                  Abbvie Inc  ...   33266000000   2.37
1    ABC      Amerisourcebergen Corp  ...  189893910000   2.08
2    ADS  Alliance Data Systems Corp  ...    5581300000   2.50
3    AER        Aercap Holdings N.V.  ...    4937340000   3.32
4    ALL               Allstate Corp  ...   44675000000   3.14

[5 rows x 15 columns]

In [6]:
qr = operator.mul(sprd['Sales(q)'],4)
sprd['Projected']=(qr)

In [7]:
CE = operator.sub(sprd['Projected'],sprd['Sales(a)'])
sprd['Crona_Eff']=(CE)

In [8]:
sprd.describe()

             Last        Volume  ...     Projected     Crona_Eff
count   73.000000  7.300000e+01  ...  7.300000e+01  7.300000e+01
mean   100.146027  3.449016e+06  ...  3.216329e+10  1.105262e+09
std     69.846616  5.242667e+06  ...  4.668745e+10  7.810693e+09
min     30.310000  7.281000e+05  ...  2.555200e+08 -2.295700e+10
25%     56.010000  1.005500e+06  ...  4.211800e+09 -8.543900e+08
50%     73.060000  1.746600e+06  ...  1.169628e+10  1.045900e+08
75%    120.840000  2.936900e+06  ...  4.312400e+10  2.330000e+09
max    349.350000  3.190610e+07  ...  2.432320e+11  4.172100e+10

[8 rows x 13 columns]

In [9]:
Gproject = sprd.loc[(sprd['Crona_Eff'])>300000000]

In [10]:
len(Gproject)

34

In [13]:
Gproject.Industry.value_counts()

Insurance - Proprty & Casualty    3
Utility - Electric Power          3
Finance - Investment Brokers      3
Aerospace - Defense               3
Building - Residential & Comm     2
Medical - Dental Suppliers        2
Medical - Biomedical              2
Medical - HMO                     2
Medical - Outpatient & Hm Care    2
Insurance - Multi Line            1
Finance - Consumer Loans          1
IT Services                       1
Retail - Apparel & Shoes          1
Retail - Consumer Electronics     1
Solar                             1
Large Cap Pharma                  1
Audio & Video Products            1
Finance - Mortgage & Rel Svs      1
Retail - Home Furniture           1
Retail - Misc & Diversified       1
Insurance - Life                  1
Name: Industry, dtype: int64

In [14]:
sprd.Industry.value_counts()

Banks - Major Regional            7
Aerospace - Defense               4
Finance - Investment Brokers      3
Medical - Biomedical              3
Finance - Consumer Loans          3
Utility - Electric Power          3
Insurance - Proprty & Casualty    3
REIT - Equity Trust Other         3
REIT - Equity Trust Retail        2
Finance - Mortgage & Rel Svs      2
Oil - US Exploration & Product    2
IT Services                       2
Medical - HMO                     2
Banks - West                      2
Insurance - Multi Line            2
Medical - Dental Suppliers        2
Building - Residential & Comm     2
Medical - Outpatient & Hm Care    2
Insurance - Life                  1
Aerospace - Defense Equipment     1
Finance - Leasing Companies       1
Agriculture Products              1
Finance - Investment Mgmt         1
Retail - Home Furniture           1
Building - Heavy Construction     1
Audio & Video Products            1
Large Cap Pharma                  1
Solar                             1
Computer - Integrated Systems     1
Medical - Hospitals               1
Banks - Northeast                 1
Chemical - Diversified            1
Utility - Gas Distribution        1
Retail - Misc & Diversified       1
Retail - Consumer Electronics     1
Retail - Apparel & Shoes          1
Consumer Services - Misc          1
Financial Transaction Services    1
Advertising Marketing Services    1
Building & Construction - Misc    1
Business Office Products          1
Tobacco                           1
Name: Industry, dtype: int64

In [15]:
Gproject.describe()

             Last        Volume  ...     Projected     Crona_Eff
count   34.000000  3.400000e+01  ...  3.400000e+01  3.400000e+01
mean   123.135294  2.690653e+06  ...  4.837749e+10  5.389919e+09
std     81.195682  2.813223e+06  ...  5.841917e+10  7.997736e+09
min     30.310000  7.589000e+05  ...  3.488000e+09  3.078000e+08
25%     68.360000  1.086025e+06  ...  8.904110e+09  1.247330e+09
50%     98.670000  1.736900e+06  ...  2.564680e+10  2.746780e+09
75%    150.660000  2.768700e+06  ...  5.055900e+10  5.948625e+09
max    349.350000  1.478780e+07  ...  2.432320e+11  4.172100e+10

[8 rows x 13 columns]

In [16]:
GP_Hsprd = Gproject.loc[(Gproject['Spread'])>3]

In [17]:
len(GP_Hsprd)

11

In [19]:
GP_Hsprd

   Symbol                            Name  ...     Projected    Crona_Eff
4     ALL                   Allstate Corp  ...   46000000000   1325000000
6    AMGN                       Amgen Inc  ...   25692000000   2330000000
8    ANTM                      Anthem Inc  ...  124632000000  20419000000
15     CI                      Cigna Corp  ...  163820000000  10254000000
19   CSIQ              Canadian Solar Inc  ...    3657440000    456860000
26    DVA  Davita Healthcare Partners Inc  ...   11696280000    307800000
35     GS             Goldman Sachs Group  ...   43124000000   6578000000
40    LHX       L3Harris Technologies Inc  ...   17852000000   4996000000
41    LMT            Lockheed Martin Corp  ...   65980000000   6168000000
48    NOC           Northrop Grumman Corp  ...   36332000000   2491000000
53   PFSI  Pennymac Financial Services IN  ...    4479960000   3002560000

[11 rows x 17 columns]

In [20]:
ANI = operator.truediv(sprd['Net Income(a)'],sprd['Sales(a)'])
sprd['Pmargin']=(ANI)

In [21]:
sprd.describe()

             Last        Volume  ...     Crona_Eff    Pmargin
count   73.000000  7.300000e+01  ...  7.300000e+01  73.000000
mean   100.146027  3.449016e+06  ...  1.105262e+09   0.135347
std     69.846616  5.242667e+06  ...  7.810693e+09   0.136446
min     30.310000  7.281000e+05  ... -2.295700e+10  -0.242760
25%     56.010000  1.005500e+06  ... -8.543900e+08   0.060370
50%     73.060000  1.746600e+06  ...  1.045900e+08   0.106808
75%    120.840000  2.936900e+06  ...  2.330000e+09   0.218306
max    349.350000  3.190610e+07  ...  4.172100e+10   0.640536

[8 rows x 14 columns]

In [22]:
Hpm = sprd.loc[(sprd['Pmargin'])>0.15]

In [23]:
len(Hpm)

26

In [24]:
Hpm.Industry.value_counts()

Banks - Major Regional          7
Medical - Biomedical            3
Banks - West                    2
Finance - Mortgage & Rel Svs    2
Finance - Investment Brokers    2
REIT - Equity Trust Retail      2
REIT - Equity Trust Other       2
Finance - Consumer Loans        1
Banks - Northeast               1
Utility - Electric Power        1
Finance - Leasing Companies     1
Large Cap Pharma                1
Tobacco                         1
Name: Industry, dtype: int64

In [25]:
Hpm.to_csv('Profitable_Cos.csv', index=False)

In [26]:
Hpm.describe()

             Last        Volume  ...     Crona_Eff    Pmargin
count   26.000000  2.600000e+01  ...  2.600000e+01  26.000000
mean    95.125385  5.353573e+06  ... -6.657585e+08   0.277938
std     63.468613  8.007155e+06  ...  7.320500e+09   0.106405
min     30.900000  7.823000e+05  ... -2.295700e+10   0.155081
25%     50.197500  1.017775e+06  ... -8.683475e+08   0.216887
50%     73.815000  2.108850e+06  ... -2.402400e+08   0.246265
75%    118.590000  6.302450e+06  ...  1.048922e+09   0.312944
max    256.980000  3.190610e+07  ...  1.834200e+10   0.640536

[8 rows x 14 columns]

In [27]:
Pos_Profits = Hpm.loc[(Hpm['Crona_Eff'])>0]

In [28]:
len(Pos_Profits)

11

In [29]:
Pos_Profits

   Symbol                            Name  ...    Crona_Eff   Pmargin
0    ABBV                      Abbvie Inc  ...  18342000000  0.236939
5    ALXN               Alexion Pharm Inc  ...   1363700000  0.481717
6    AMGN                       Amgen Inc  ...   2330000000  0.335673
30   ESNT                Essent Group Ltd  ...    104590000  0.640536
35     GS             Goldman Sachs Group  ...   6578000000  0.231653
38    KRC              Kilroy Realty Corp  ...     75790000  0.233375
45     MS                  Morgan Stanley  ...   5209000000  0.218306
52    OMF            Onemain Holdings Inc  ...     11000000  0.180038
53   PFSI  Pennymac Financial Services IN  ...   3002560000  0.265988
56    PNW      Pinnacle West Capital Corp  ...   1546790000  0.155081
62   SBNY                  Signature Bank  ...     83220000  0.303632

[11 rows x 18 columns]