<a href="https://colab.research.google.com/github/Redsoxnc87/Hello-World/blob/master/Untitled192.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd 
import numpy as np 
import math 
import requests

In [2]:
import operator
from pandas import Series, DataFrame
import matplotlib.pyplot as plt
%matplotlib inline
import pandas.plotting

In [3]:
nas = pd.read_csv('NASDAQ_Tmrkt.csv')

In [4]:
nas.head()

  Symbol                         Name  ...    Market Cap      Volume
0   AACG        Ata Creativity Global  ...  2.675500e+07     27200.0
1   AACQ  Artius Acquisition Inc Cl A  ...           NaN     11500.0
2  AACQW    Artius Acquisition Inc WT  ...           NaN     43300.0
3    AAL         American Airlines Gp  ...  6.921529e+09  64936898.0
4   AAME             Atlantic Amer Cp  ...  4.131700e+07      4500.0

[5 rows x 14 columns]

In [5]:
nas_mcap = nas['Market Cap'].sum()

In [6]:
nas_sales = nas['Sales(a)'].sum()

In [7]:
nas_qsales = nas['Sales(q)'].sum()

In [8]:
nas_nincome = nas['Net Income(a)'].sum()

In [9]:
nas_qnincome = nas['Net Income(q)'].sum()

In [10]:
Sales_Nincome = nas_sales - nas_nincome

In [11]:
Sales_Nincome

4377397836808.0

In [12]:
nas_sales

4860421009004.0

In [13]:
nas_nincome

483023172196.0

In [14]:
nas_nincome / nas_sales

0.0993788750606568

In [15]:
nyse = pd.read_csv('NYSE_Total.csv')

In [16]:
nyse.head()

  Symbol                    Name  ...    Market Cap     Volume
0      A    Agilent Technologies  ...  2.985674e+10  1753874.0
1     AA              Alcoa Corp  ...  2.677306e+09  3929632.0
2    AAN             Aaron's Inc  ...  3.670598e+09   472870.0
3    AAP  Advance Auto Parts Inc  ...  1.063012e+10   589124.0
4    AAT   American Assets Trust  ...  1.570935e+09   295481.0

[5 rows x 12 columns]

In [18]:
ny_mcap = nyse['Market Cap'].sum()

In [19]:
ny_sales = nyse['Sales(a)'].sum()

In [20]:
ny_qsales = nyse['Sales(q)'].sum()

In [21]:
ny_nincome = nyse['Net Income(a)'].sum()

In [22]:
NYsIn = operator.truediv(ny_nincome, ny_sales)

In [23]:
NYsIn

0.07743840713681203

In [24]:
nyse.describe()

                Last      Sales(q)  ...    Market Cap        Volume
count    1919.000000  1.856000e+03  ...  1.916000e+03  1.919000e+03
mean      225.581642  2.114463e+09  ...  1.511043e+10  2.208841e+06
std      7473.760260  6.577823e+09  ...  4.297032e+10  6.692288e+06
min         0.183100  0.000000e+00  ...  7.719000e+06  7.000000e+00
25%         9.785000  1.102750e+08  ...  6.804740e+08  2.084230e+05
50%        23.890000  4.026950e+08  ...  2.712178e+09  6.189060e+05
75%        58.340000  1.490882e+09  ...  1.110450e+10  1.884848e+06
max    327401.000000  1.377420e+11  ...  7.159674e+11  1.633298e+08

[8 rows x 6 columns]

In [25]:
nas.describe()

              Last  Net Income(q)  ...    Market Cap        Volume
count  2733.000000   2.540000e+03  ...  2.730000e+03  2.733000e+03
mean     35.166276   2.869972e+07  ...  7.125496e+09  1.365233e+06
std     105.927321   4.656110e+08  ...  7.047071e+10  8.052876e+06
min       0.122300  -3.339000e+09  ...  0.000000e+00  1.000000e+02
25%       4.300000  -1.057500e+07  ...  9.434975e+07  6.020000e+04
50%      12.070000  -8.550000e+05  ...  3.600295e+08  2.362000e+05
75%      31.680000   8.710000e+06  ...  1.640182e+09  7.652000e+05
max    3294.620000   1.125300e+10  ...  2.097125e+12  3.326071e+08

[8 rows x 8 columns]

In [26]:
ny_sales

20313042904407.0

In [27]:
ny_nincome

1573009686619.0

In [28]:
ny_sales / nas_sales

4.179276417984531

In [29]:
ny_nincome / nas_nincome

3.2565925967226845

In [30]:
nySN = operator.truediv(nyse['Net Income(a)'],nyse['Sales(a)'])

In [31]:
nyse['Sales_Ninc']=(nySN)

In [32]:
nsSN = operator.truediv(nas['Net Income(a)'], nas['Sales(a)'])

In [33]:
nas['Sales_Ninc']=(nsSN)

In [34]:
nas.describe()

              Last  Net Income(q)  ...        Volume   Sales_Ninc
count  2733.000000   2.540000e+03  ...  2.733000e+03  2701.000000
mean     35.166276   2.869972e+07  ...  1.365233e+06          NaN
std     105.927321   4.656110e+08  ...  8.052876e+06          NaN
min       0.122300  -3.339000e+09  ...  1.000000e+02         -inf
25%       4.300000  -1.057500e+07  ...  6.020000e+04    -0.768045
50%      12.070000  -8.550000e+05  ...  2.362000e+05    -0.000639
75%      31.680000   8.710000e+06  ...  7.652000e+05     0.119825
max    3294.620000   1.125300e+10  ...  3.326071e+08          inf

[8 rows x 9 columns]

In [35]:
nyse.describe()

                Last      Sales(q)  ...        Volume   Sales_Ninc
count    1919.000000  1.856000e+03  ...  1.919000e+03  1895.000000
mean      225.581642  2.114463e+09  ...  2.208841e+06          NaN
std      7473.760260  6.577823e+09  ...  6.692288e+06          NaN
min         0.183100  0.000000e+00  ...  7.000000e+00         -inf
25%         9.785000  1.102750e+08  ...  2.084230e+05     0.004126
50%        23.890000  4.026950e+08  ...  6.189060e+05     0.064481
75%        58.340000  1.490882e+09  ...  1.884848e+06     0.145811
max    327401.000000  1.377420e+11  ...  1.633298e+08          inf

[8 rows x 7 columns]

In [42]:
pos_per = nas.loc[(nas['Sales_Ninc'])>0.1]

In [43]:
pper = nyse.loc[(nyse['Sales_Ninc'])>0.1]

In [44]:
len(pos_per)

746

In [45]:
len(pper)

696

In [46]:
pos_per.Industry.value_counts()

Banks - Northeast                103
Banks - Southeast                 59
Unclassified                      47
Finance - Savings & Loan          42
Banks - West                      35
                                ...
Semi Memory                        1
Retail - Consumer Electronics      1
Insurance - Accident & Health      1
Wireless Equipment                 1
Food Items - Wholesale             1
Name: Industry, Length: 136, dtype: int64

In [47]:
pper.Industry.value_counts()

REIT - Equity Trust Other         63
Utility - Electric Power          32
Banks - Foreign                   26
REIT - Mortgage Trusts            26
REIT - Equity Trust Retail        20
                                  ..
Machinery - Construct & Mining     1
Food - Meat Products               1
Auto - Domestic                    1
Electrical Power                   1
Mining - Non Ferrous               1
Name: Industry, Length: 154, dtype: int64

In [48]:
pos_per.describe()

              Last  Net Income(q)  ...        Volume  Sales_Ninc
count   746.000000   7.180000e+02  ...  7.460000e+02  746.000000
mean     59.667983   1.219880e+08  ...  1.611170e+06         inf
std     137.226893   7.935670e+08  ...  1.283687e+07         NaN
min       0.165000  -3.339000e+09  ...  1.000000e+02    0.100202
25%      10.782500   1.350000e+06  ...  2.162500e+04    0.156111
50%      21.095000   8.685000e+06  ...  1.368000e+05    0.222416
75%      53.265000   3.664750e+07  ...  6.603750e+05    0.298685
max    1917.740000   1.125300e+10  ...  3.326071e+08         inf

[8 rows x 9 columns]

In [49]:
nasL = list(range(0,746))

In [55]:
def QA(i): 
  Q = (pos_per['Sales(q)'][i] * 4) - pos_per['Sales(a)'][i]
  return(Q)

In [52]:
pper.describe()

                Last      Sales(q)  ...        Volume  Sales_Ninc
count     696.000000  6.790000e+02  ...  6.960000e+02  696.000000
mean      549.191682  1.857681e+09  ...  2.370612e+06         inf
std     12408.663313  4.810289e+09  ...  6.389764e+06         NaN
min         0.324900  0.000000e+00  ...  1.250000e+02    0.100008
25%        12.187500  9.807000e+07  ...  2.410195e+05    0.135204
50%        35.400000  3.668900e+08  ...  7.146050e+05    0.196053
75%        80.037500  1.548570e+09  ...  1.943260e+06    0.316070
max    327401.000000  5.684000e+10  ...  9.962141e+07         inf

[8 rows x 7 columns]

In [57]:
nyL = list(range(0,696))

In [58]:
nyseL = list(range(0,1919))

In [59]:
nasli = list(range(0,2733))

In [60]:
def nq(i): 
  Na = (nas['Sales(q)'][i] * 4) - nas['Sales(a)'][i]
  return(Na)

In [61]:
def ny(i): 
  nye = (nyse['Sales(q)'][i] * 4) - nyse['Sales(a)'][i]
  return(nye)

In [62]:
nyQA = ny(nyseL)
nsQA = nq(nasli)

In [64]:
nyse['Qrt_Yr']=(nyQA)

In [65]:
nas['Qrt_Yr']=(nsQA)

In [66]:
nyse.describe()

                Last      Sales(q)  ...   Sales_Ninc        Qrt_Yr
count    1919.000000  1.856000e+03  ...  1895.000000  1.856000e+03
mean      225.581642  2.114463e+09  ...          NaN -2.049414e+09
std      7473.760260  6.577823e+09  ...          NaN  1.229292e+10
min         0.183100  0.000000e+00  ...         -inf -2.221420e+11
25%         9.785000  1.102750e+08  ...     0.004126 -9.201000e+08
50%        23.890000  4.026950e+08  ...     0.064481 -1.543750e+08
75%        58.340000  1.490882e+09  ...     0.145811  1.082500e+07
max    327401.000000  1.377420e+11  ...          inf  4.391000e+10

[8 rows x 8 columns]

In [67]:
nas.describe()

              Last  Net Income(q)  ...   Sales_Ninc        Qrt_Yr
count  2733.000000   2.540000e+03  ...  2701.000000  2.540000e+03
mean     35.166276   2.869972e+07  ...          NaN -8.689985e+07
std     105.927321   4.656110e+08  ...          NaN  2.334262e+09
min       0.122300  -3.339000e+09  ...         -inf -3.928000e+10
25%       4.300000  -1.057500e+07  ...    -0.768045 -4.394250e+07
50%      12.070000  -8.550000e+05  ...    -0.000639 -5.600000e+05
75%      31.680000   8.710000e+06  ...     0.119825  1.033000e+07
max    3294.620000   1.125300e+10  ...          inf  7.512600e+10

[8 rows x 10 columns]

In [68]:
pos_nyse = nyse.loc[(nyse['Qrt_Yr'])>0]
pos_nasdq = nas.loc[(nas['Qrt_Yr'])>0]

In [69]:
len(pos_nyse)

503

In [70]:
len(pos_nasdq)

958

In [71]:
pos_nyse.Industry.value_counts()

REIT - Equity Trust Other         42
Internet - Software               24
Insurance - Proprty & Casualty    18
Transportation - Ship             17
Technology Services               12
                                  ..
Oil Refining & Marketing MLP       1
Oil - US Royalty Trusts            1
Securities Exchanges               1
Medical - Generic Drugs            1
E&P MLP                            1
Name: Industry, Length: 146, dtype: int64

In [72]:
pos_nasdq.Industry.value_counts()

Medical - Biomedical              107
Banks - Northeast                  57
Medical - Drugs                    56
Internet - Software                42
Banks - Southeast                  38
                                 ...
Semi-Eqpt PhotoMask                 1
Printing - Commercial               1
Utility - Electric Power            1
Large Cap Pharma                    1
Machinery - Thermal Processing      1
Name: Industry, Length: 159, dtype: int64

In [73]:
pos_nasdq.head()

  Symbol                   Name Exchange  ...    Volume Sales_Ninc       Qrt_Yr
0   AACG  Ata Creativity Global   NASDAQ  ...   27200.0  -1.250712     920000.0
4   AAME       Atlantic Amer Cp   NASDAQ  ...    4500.0  -0.001968     780000.0
5   AAOI      Applied Optoelect   NASDAQ  ...  948500.0  -0.346047   70010000.0
6   AAON               Aaon Inc   NASDAQ  ...  127900.0   0.114440   33070000.0
8   AAWW           Atlas Air Ww   NASDAQ  ...  411700.0  -0.107006  561810000.0

[5 rows x 16 columns]

In [75]:
PosnasPos = pos_nasdq.loc[(pos_nasdq['Sales(q)'])>0]

In [76]:
PosnyPos = pos_nyse.loc[(pos_nyse['Sales(q)'])>0]

In [77]:
len(PosnasPos)

958

In [78]:
len(PosnyPos)

503

In [79]:
PosnasPos.head()

  Symbol                   Name Exchange  ...    Volume Sales_Ninc       Qrt_Yr
0   AACG  Ata Creativity Global   NASDAQ  ...   27200.0  -1.250712     920000.0
4   AAME       Atlantic Amer Cp   NASDAQ  ...    4500.0  -0.001968     780000.0
5   AAOI      Applied Optoelect   NASDAQ  ...  948500.0  -0.346047   70010000.0
6   AAON               Aaon Inc   NASDAQ  ...  127900.0   0.114440   33070000.0
8   AAWW           Atlas Air Ww   NASDAQ  ...  411700.0  -0.107006  561810000.0

[5 rows x 16 columns]

In [80]:
PosnasPos.to_csv('Nasdaq_picks.csv', index=False)

In [81]:
PosnyPos.to_csv('NYSE_picks.csv', index=False)

In [82]:
Nystkx = pd.read_csv('Nystckexg.csv')

In [84]:
Ndaq = pd.read_csv('Ndaq.csv')

In [85]:
Nystkx.describe()

              Last      Sales(q)  ...  Sales_Ninc        Qrt_Yr
count   366.000000  3.660000e+02  ...  366.000000  3.660000e+02
mean     86.990981  3.254602e+09  ...    0.160278  1.561218e+09
std     150.773270  1.027702e+10  ...    0.174565  5.193267e+09
min       0.833600  3.100000e+06  ...    0.004105  5.000000e+04
25%      18.807500  1.965100e+08  ...    0.051245  4.546250e+07
50%      42.760000  6.076750e+08  ...    0.102591  1.673750e+08
75%      93.300000  1.875750e+09  ...    0.205143  6.163700e+08
max    1845.010000  1.377420e+11  ...    1.396092  4.391000e+10

[8 rows x 8 columns]

In [86]:
Ndaq.describe()

              Last  Net Income(q)  ...  Sales_Ninc        Qrt_Yr
count   514.000000   5.140000e+02  ...  514.000000  5.140000e+02
mean     66.337831   1.083553e+08  ...    0.292959  5.146577e+08
std     173.091656   6.725222e+08  ...    2.227602  3.812208e+09
min       0.165000  -1.708000e+09  ...    0.000344  2.000000e+04
25%      13.472500   2.952500e+06  ...    0.059740  9.677500e+06
50%      24.135000   1.103000e+07  ...    0.130037  4.090000e+07
75%      58.735000   3.565000e+07  ...    0.219252  1.739175e+08
max    3294.620000   1.120200e+10  ...   49.116211  7.512600e+10

[8 rows x 10 columns]

In [87]:
Liny = list(range(0,366))

In [88]:
Linq = list(range(0,514))

In [89]:
def nqval(i): 
  Q = (Ndaq['Market Cap'][i] / Ndaq['Shares Out'][i]) - Ndaq['Last'][i]
  return(Q)

In [90]:
E = nqval(Linq)

In [91]:
Ndaq['Curr_Value']=(E)

In [92]:
Ndaq.describe()

              Last  Net Income(q)  ...        Qrt_Yr  Curr_Value
count   514.000000   5.140000e+02  ...  5.140000e+02  514.000000
mean     66.337831   1.083553e+08  ...  5.146577e+08    0.000127
std     173.091656   6.725222e+08  ...  3.812208e+09    0.002072
min       0.165000  -1.708000e+09  ...  2.000000e+04   -0.008797
25%      13.472500   2.952500e+06  ...  9.677500e+06   -0.000010
50%      24.135000   1.103000e+07  ...  4.090000e+07    0.000000
75%      58.735000   3.565000e+07  ...  1.739175e+08    0.000007
max    3294.620000   1.120200e+10  ...  7.512600e+10    0.028753

[8 rows x 11 columns]

In [93]:
Ndaq.head()

  Symbol                  Name  ...      Time Curr_Value
0   CRON      Cronos Group Inc  ...  9/4/2020   0.000001
1  LBRDA     Liberty Broadbd A  ...  9/4/2020  -0.000008
2  LBRDK     Liberty Broadbd C  ...  9/4/2020  -0.000011
3   LGND          Ligand Pharm  ...  9/4/2020  -0.000091
4  GLIBA  Gci Liberty Inc Cl A  ...  9/4/2020   0.000003

[5 rows x 17 columns]

In [94]:
Gval = Ndaq.loc[(Ndaq['Curr_Value'])>0]

In [95]:
len(Gval)

233

In [96]:
Gval.to_csv('Nasdaq_To_Look.csv', index=False)